{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="card-text my-3"> Comic Jumble </h1>

    <div class="row mt-3 mb-5 mx-auto">
        <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 col-xs-12">
            <img src="/media/images/harley-comic.jpg" class="img-fluid" alt="Paul Dini's Batman">

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- Short summary of site owner -->
            <p class="card-text text-justify">
            Wondering how this all started? Well, when I was 12 years old I started collecting comics - a lot of comics. I loved Marvel, DC and anything I could get my hands on. Thus, my love affair with comics began.
            </p> 
            <p class="card-text text-justify">Now I'm in my 30s and my comic collection has taken over my house. I'm starting a new family and relocating so I need to find a good home for my comics. Buy a copy and I'll send it to you. When you've finished it, feel free to pop back over to Comic Jumble to let me know your thoughts!
            </p>
            <p class="card-text text-justify"> Check out the comics in my store. The grades I've set them are based on the current condition of the comics. Do note, images used on this site are not from the copies I currenty have - hi res images are best for online! Before I go, Paul Dini and Bruce Timm's Batman is my absolute favourite!
            </p>
            <p class="card-text">Enjoy!</p>
        </div>
    </div>
</div>

{% endblock %}