{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="card-text mt-3 mb-3"> About My Comic Jumble </h1>

    <div class="row">
        <div class="col">


        </div>
        <div class="col">
            <p class="card-text">
                When I was 12 years old I started collecting comics - a lot of comics. I loved Marvel, DC and anything I
                could get my hands on. Thus, my love affair with comics began. Now I'm in my 30s and my comic collection
                has taken over my house. I'm relocating and need to find a good home for my comics. Buy a copy and I'll
                send it to you. When you've finished it, feel free to pop back over to My Comic Jumble to let me know
                your thoughts!
            </p>
        </div>
    </div>
</div>

{% endblock %}