{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row mb-3 mt-2 mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="card-text">Contact Me</h1>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Form so users can get in touch with site owner-->
            <form method="POST">
                <div class="outer-form">
                    <p class="card-text">If you have a question or comment you'd like to add, get in touch with me!</p>
                    {% csrf_token %} {{ form|crispy }}
                    <button type="submit" class="btn btn-danger">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}