{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row my-3 mx-auto">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="card-text">Frequently Asked Questions</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mx-auto">
        <div class="col-lg-8 col-md-12 col-sm-12">

            <h5 class="card-text question">Do you really own all of these comics?</h5>
            <p class="card-text">Yes, I started collecting them when I was kid and just never stopped.</p>
            <hr>

            <h5 class="card-text question">Why are you selling them and why now?</h5>
            <p class="card-text">Well, a lot of people ask me this. I'm starting a family and need to make room in my house.</p>
            <hr>

            <h5 class="card-text question">How come you don't just give them away?</h5>
            <p class="card-text">I've spent years collecting and maintaining my comics. I want them to go to a good home with someone who appreciates them as much as me!</p>
            <hr>

            <h5 class="card-text question">Why will happen with your website after you sell everything?</h5>
            <p class="card-text">I have a finite amount of comics, yes. When everything's sold I'll probably keep this website running, but not as a shop - I'll likely turn it into a forum so those who bought the comics can keep in touch.</p>
            <hr>

            <h5 class="card-text question">Can I return a comic if I change my mind?</h5>
            <p class="card-text">No, all sales are final. You can, however, pass them on to someone else who would enjoy them.</p>
            <hr>

        </div>
    </div>
</div>


{% endblock %}