{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">My Comic Jumble</h1>
    <p class="lead">Welcome to my website, where I sell comic books from my own personal collection. You'll find Marvel, DC and Boom! Studio Comics.</p>
    <a class="btn btn-primary btn-lg mt-4" href="#" role="button">Comics</a>
</div>

<div class="row">
    
    <div class="card text-white bg-success mb-3 mt-2 ml-2 mr-2">
        <div class="card-body">
            <i class="fa fa-info fa-2x" aria-hidden="true"></i>
            <h5 class="card-title">Glossary</h5>
            <p class="card-text">New to the comic and graphic novel universe? Get to know some of the terminology so you can comfortably find your way around the website.</p>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 mt-2 ml-2 mr-2">
        <div class="card-body">
            <i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>
            <h5 class="card-title">Comic store</h5>
            <p class="card-text">Do you know exactly what you want? Check out the comics in my collection, their condition and purchase the issues you've always wanted.</p>
        </div>
    </div>
    <div class="card text-white bg-warning mb-3 mt-2 ml-2 mr-2">
        <div class="card-body">
            <i class="fa fa-question big-icon fa-2x" aria-hidden="true"></i>
            <h5 class="card-title">FAQ</h5>
            <p class="card-text">Want to know more about my comics? Read all about how I started my collection and why I'm selling some of my prized issues. </p>
        </div>
    </div>
</div>

{% endblock %}