{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="jumbotron">
            <div class="logo-box">
                <img class="img-fluid" src="/media/images/comic-logo-black.png">
            </div>
            <p class="lead px-2 text-justify">Welcome to my website, where I sell comic books from my own personal
                collection.You'll find Marvel, DC and Boom! Studio Comics. You'll really be helping me out if you buy my comics
                because I need to downsize and I'd like to give my comics a good home. Check out my comics by pressing
                on the blue button below.</p>
            <p><a class="btn btn-info btn-lg  my-4" href="{% url 'comics' %}" role="button">Comic
                    Store</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row no-gutters mx-auto">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div id="info-box">
                    <div class="card mx-auto">
                        <div class="card-body mx-auto">
                            <i class="fa fa-info fa-2x" aria-hidden="true"></i>
                            <h5 class="card-title">Glossary</h5>
                            <p class="card-text text-center">New to the comic and graphic novel universe? Get to know
                                some of the terminology so you can comfortably find your way around the website.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div id="info-box">
                    <div class="card mx-auto">
                        <div class="card-body mx-auto">
                            <i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>
                            <h5 class="card-title">Comic store</h5>
                            <p class="card-text text-center"> Do you know what you want? Check out the comics in my
                                collection, their condition and purchase the issues you've always wanted.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div id="info-box">
                    <div class="card mx-auto">
                        <div class="card-body mx-auto">
                            <i class="fa fa-envelope big-icon fa-2x" aria-hidden="true"></i>
                            <h5 class="card-title">Contact</h5>
                            <p class="card-text text-center">Do you want to tell us your thoughts about our comics?
                                Have you got a recommendation for the site? Fill in our form and get in touch with us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div id="info-box">
                    <div class="card mx-auto">
                        <div class="card-body mx-auto">
                            <i class="fa fa-question fa-2x" aria-hidden="true"></i>
                            <h5 class="card-title">FAQs</h5>
                            <p class="card-text text-center">In this section I answer your questions. You can find out
                                why I've decide to start this store to sell my comics and what I'm planning next!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}