{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="card-text"> Comics </h1>
        </div>
    </div>

    <div class="row">

        {% for comic in comics %}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body mx-auto">

                    {% if comic.image %}
                    <img class="card-img-top" src="/media/{{ comic.image }}">
                    {% endif %}

                    <h5 class="card-text text-center">{{ comic.name }}</h5>
                    <p class="card-text text-center">€{{ comic.price }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <h2>ENDS</h2>
</div>
{% endblock %}