{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="card-text"> Comics </h1>
        </div>
    </div>

    <div class="row">

        {% for comic in comics %}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body mx-auto">

                    {% if comic.image %}
                    <a href="{% url 'detail' comic.id %}">
                        <img class="card-img-top" src="/media/{{ comic.image }}">
                    </a>
                    {% endif %}

                    <h5 class="card-text text-center">{{ comic.name }}</h5>
                    <p class="card-text text-center">€{{ comic.price }}</p>
                </div>

                <form method="post" action="{% url 'add_to_cart' comic.id %}">
                    {% csrf_token %}
                    <div class="input-group card-text text-center">
                        <span class="input-group-btn mx-auto">
                            <button class="btn btn-danger" type="submit">Add to Cart</button>
                        </span>
                    </div>
                </form>
                <br>

            </div>
        </div>

        {% endfor %}

        {% for comic in comics %}


        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if comics.has_previous %}
                        <a href="?page={{ comics.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comics.number }} of {{ comics.paginator.num_pages }}
                </span>

                {% if comics.has_next %}
                <a href="?page={{ comics.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>



    </div>
</div>
{% endblock %}