{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- So users can go back to Home page from Comics page -->
        <nav aria-label="breadcrumb text-black">
            <ol class="breadcrumb">
                <li class="breadcrumb-item card-text"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item card-text" aria-current="page">Comics</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row mt-0 mx-auto">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="card-text text-white">Comics</h1>
        </div>
    </div>
    <!-- Display all comics added by administrator in the backend -->
    <div class="row mt-2 mb-4 mx-auto">

        {% for comic in comics %}

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mx-auto">
                <div class="card-body mx-auto">

                    {% if comic.image %}
                    <a href="{% url 'detail' comic.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ comic.image }}">
                    </a>
                    {% endif %}

                    <h5 class="card-text text-center mx-auto mt-2">{{ comic.name|truncatechars:20 }}</h5>
                    <p class="card-text text-center mx-auto">€{{ comic.price }}</p>
                </div>

                <form method="post" action="{% url 'add_to_cart' comic.id %}">
                    {% csrf_token %}
                    <div class="input-group card-text text-center">
                        <span class="input-group-btn mx-auto">
                            <button class="btn btn-danger" type="submit">Add to Cart</button>
                        </span>
                    </div>
                </form>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <!-- After nine comics on page, paginate with previous and next buttons -->
    <div class="row my-3 mx-auto">

        {% for comic in comics %}

        {% endfor %}

        <div class="pagination mx-auto mb-5">
            <span class="step-links">
                {% if comics.has_previous %}
                <a href="?page={{ comics.previous_page_number }}" class="btn btn-primary">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comics.number }} of {{ comics.paginator.num_pages }}
                </span>

                {% if comics.has_next %}
                <a href="?page={{ comics.next_page_number }}" class="btn btn-primary">Next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>



{% endblock %}