{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <nav aria-label="breadcrumb text-black">
            <ol class="breadcrumb">
              <li class="breadcrumb-item card-text"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item card-text"><a href="{% url 'comics' %}">Comics</a></li>
              <li class="breadcrumb-item card-text" aria-current="page">{{ comic.name }}</li>
            </ol>
          </nav>
    </div>
</div>

<div class="container">
    <h1 class="card-text mt-0">Details</h1>
    <div class="row mx-auto">
        <div class="col-lg-8 col-md-7 col-sm-12">
            <h4 class="card-text"> {{ comic.name }}</h4>
            <h6 class="card-text"> €{{ comic.price }}</h6>
            <hr>
            <h6 class="card-text"> <b>Published Date:</b> {{ comic.published_date }}</h6>
            <h6 class="card-text"> <b>Writer:</b> {{ comic.writer }}</h6>
            <h6 class="card-text"> <b>Penciler:</b> {{ comic.penciler }}</h6>
            <h6 class="card-text"> <b>Cover Artist:</b> {{ comic.cover_artist }}</h6>
            <hr>
            <h6 class="card-text"> <b>Description</b><br><br>
                <p> {{ comic.description }}</p>
            </h6>
            <hr>
            <h6 class="card-text"> <b>Condition:</b> {{ comic.condition }}</h6>
            <h6 class="card-text"> <b>Grade:</b> {{ comic.grade }}</h6>
            <h6 class="card-text"> <b>Publisher:</b> {{ comic.brand }}</h6>
            <br>

            <form method="post" action="{% url 'add_to_cart' comic.id %}">
                {% csrf_token %}
                <div class="input-group card-text text-center">
                    <span class="input-group-btn ml-6 mb-5">
                        <button class="btn btn-danger" type="submit">Add to Cart</button>
                    </span>
                </div>
            </form>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-12">

            {% if comic.image %}
            <img class="img-fluid" src="/media/{{ comic.image }}">
            {% endif %}

            <br>
            <br>
        </div>
    </div>
</div>


{% endblock %}