{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-3 mb-2 mx-auto">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="card-text">Search</h1>
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form method="GET">
                <div class="form-row">
                    <div class="col-lg-11 col-md-11 col-sm-8">
                        <input type="search" class="form-control mt-2" name="q" value="{{ request.GET.q }}"
                            placeholder="Search by name, publisher, grade here...">
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-4">
                        <button class="btn btn-danger mt-2" type="submit" name="action">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4 mb-5 mx-auto">
        {% for comic in comics %}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card mx-auto">
                <div class="card-body mx-auto">

                    {% if comic.image %}
                    <a href="{% url 'detail' comic.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ comic.image }}">
                    </a>
                    {% endif %}

                    <h5 class="card-text text-center">{{ comic.name|truncatechars:20 }}</h5>
                    <p class="card-text text-center">€{{ comic.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <div class="row my-3 mx-auto">

        <div class="pagination mx-auto mb-5">
            <span class="step-links">
                {% if comics.has_previous %}
                <a href="?page={{ comics.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comics.number }} of {{ comics.paginator.num_pages }}
                </span>

                {% if comics.has_next %}
                <a href="?page={{ comics.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">Next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>


{% endblock %}