{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row my-3 mx-auto">
        <h1 class="card-text"> Reset Password </h1>
    </div>
    <div class="row mx-auto mb-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form method="POST">
                <div class="outer-form">
                    <p class="card-text">So you can receive the reset password link, you'll need to add your email address below - do use the one you initially used when signing up. Then press the Reset Password button.</p>
                    {% csrf_token %} {{ form.email.errors }}
                    <p class="card-text">
                        <label for="id_email">Email address:</label> {{ form.email }} </p>
                        <button type="submit" class="btn btn-danger">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}