{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="card-text mt-3 mb-3"> Reset Password </h1>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST">
                <div class="form-group">
                    <p class="card-text">Please enter your email address...</p>
                    {% csrf_token %} {{ form.email.errors }}
                    <p>
                        <label for="id_email">Email address:</label> {{ form.email }} </p>
                        <button type="submit" class="btn btn-danger">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}