{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row my-3 mx-auto">
        <h1 class="card-text"> Successful password reset </h1>
    </div>
    <div class="row mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="outer-form">
                <p class="card-text">I've emailed you instructions for resetting your password. I've sent this to the
                    email address you initially submitted. You should be receiving it shortly.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}