{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-3 mx-auto">
        <h1 class="card-text"> Reset Password </h1>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="outer-form">
                <p class="card-text">Good job! Your new password has been set. Go ahead and <a href="{{ login_url }}">Log in</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}