{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row my-3 mx-auto">
        <h1 class="card-text"> Set your new password </h1>
    </div>

    {% if validlink %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="outer-form card-text">
            <p class="card-text">Please enter your new password and then re-enter to confirm it.</p>
            <form action="" method="post" class="accountform">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                </table>
                <br>
                <button type="submit" class="btn btn-danger">Change my password</button>
                <p>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row my-3 mx-auto">
        <!-- If user attempts to reuse reset link they are prompted to request new reset link -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="card-text">Password reset unsuccessful</h1>
            <p class="card-text">The password reset link was invalid, <br>
                possibly because it has already been used. <br>
                Please request a new password reset.</p>
            {% endif %}
    </div>
</div>
{% endblock %}