@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

body {
  position: relative;
  margin: 0;
  padding: 0 0;
  border: 0;
  background-color: #1d4d4f;
}

.col-lg-12 {
  position: relative;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.nav-item {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.navbar-brand,
.display-4,
.card-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: white;
}

.btn-info {
  color: #fff;
  background-color: #1d4d4f;
  border-color: #1d4d4f;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

#footer-details {
  min-height: 130px;
  padding-top: 20px;
  text-align: center;
}

.card {
  max-width: 18rem;
  margin: 20px 20px;
  background-color: #0b0b0d;
  border: solid 1px black;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #0b0b0d;
  color: white;
}

.card-title {
  margin: 10px 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

i.fa-2x {
  padding-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


p.card-text {
  justify-content: center;
}

.page-titles {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.outer-form {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  border: solid 1px black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b0b0d;
  margin-bottom: 50px;
}

.helptext {
  font-size: 10px;
}

.end-site {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #fff;
}

#info-box { 
  transition: all .2s ease-in-out; 
}

#info-box:hover { 
  transform: scale(1.05);
  color: white;
}


hr {
  background-color: white;
}

.input-field {
  border: 1px solid black;
}

.img-fluid {
  align-items: center;
  height: auto;
}

.jumbotron {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.logo-box {
  height: 200px;
  width: 200px;
}

.lead {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.section {
  padding: 20px 0px;
  margin-bottom: 20px;
}

.footer-links-box {
  margin-top: 40px;
}

.footer-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: white;
  padding: 8px;
}

.social-links a i {
  padding-top: 5px;
  font-size: 25px;
  padding: 0.5px;
  color: white;
}

.alert {
  padding: 15px 0px;
  border: 0px;
  margin: 0px;
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.pagination {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: white;
}

.form-control {
  border: 1px solid black;
}

.breadcrumb {
  background-color: #1d4d4f;
}

.breadcrumb-item a {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #ffe75e;
}

.breadcrumb-item.active {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #000;
}

.collapsible {
  background-color: #d9534f;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #0b0b0d;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: max-height 0.2s ease-out;
  background-color: #fff5ee;
}

h5.question {
  font-weight: 500;
}

.collapse-text {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.badge-success {
  color: #000;
  background-color: #ffe75e;
}

.btn-danger {
  color: #000;
  background-color: #ffe75e;
  border-color: #ffe75e;
}

.btn-primary {
  color: #fff;
  background-color: #ffe75e;
  border-color: #ffe75e;
  color: #000;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  color: white;
}