@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

body {
  background-color: #fff;
}

.nav-item {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.navbar-brand,
.display-4,
.lead,
.card-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

#footer {
  height: 200px;
  border-top: 1px solid #ededed;
  color: #A9A9A9;
}

.card {
  max-width: 18rem;
  margin: 10px;
}

.card-title {
  margin: 10px 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

i.fa-2x {
  padding-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

i.fa-lg {
  margin: 0px 5px;
}
p.card-text {
  justify-content: center;
}

.page-titles {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.form-group {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  border: solid 2px black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helptext {
  font-size: 10px;
}

.end-site{
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 20px;
}