{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row mt-3 mb-2 mx-auto">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="card-text text-center">Order Details</h1>
        </div>
    </div> 
</div>

<div class="container">
    <div class="row mx-auto outer-form">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">

                <div id="credit-card-errors">
                    <div id="alert-message block-message error" id="stripe-error-message"></div>
                </div>

                <div class="card-text form-group-payment">
                    {{ order_form |crispy }}
                </div>

                <h1 class="card-text text-center">Payment Details</h1>

                <div class="card-text form-group-payment">
                    {{ payment_form |crispy }}
                </div>

                {% csrf_token %}
                <br>
                <br>
                <div class="form-group">
                    <input class=" btn btn-primary mb-3 card-text" id="submit_payment_btn" name="commit" type="submit"
                        value="Submit Payment">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="card-text text-center">Summary</h1>
            <p class="card-text text-center">Total: €{{ total }}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mx-auto mb-3">
        {% for item in cart_items %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body mx-auto">

                    {% if item.comic.image %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ item.comic.image }}">
                    {% endif %}

                    <h5 class="card-text text-center">{{ item.comic.name }}</h5>
                    <p class="card-text text-center">€{{ item.comic.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}