{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="card-text mt-3 mb-3"> Login </h1>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST">
                <div class="form-group">
                    <p class="card-text">You must sign in to purchase the comics. If you don't already have an account, <a href="{% url 'register' %}">register here.</a></p>
                    {% csrf_token %} {{ login_form.as_p }}
                    <button type="submit" class="btn btn-danger">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}