{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row my-3 mx-auto">
        <h1 class="card-text">Register</h1>
    </div>
    <div class="row mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Form to register - fields include email address, username, password and confirm password -->
            <form method="POST">
                <div class="outer-form">
                    <p class="card-text text-white">You must sign in to purchase the comics. If you already have an account, <a href="{% url 'login' %}">login here.</a></p>
                {% csrf_token %} {{ registration_form|crispy}}
                <button type="submit" class="btn btn-danger">Register</button>
            </div>
            </form>
            <br>
        </div>
    </div>
</div>

{% endblock %}