{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">

        {% for item in cart_items %}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-body mx-auto">

                    {% if item.comic.image %}
                        <img class="card-img-top" src="/media/{{ item.comic.image }}">
                    {% endif %}

                    <h5 class="card-text text-center">{{ item.comic.name }}</h5>
                    <p class="card-text text-center">€{{ item.comic.price }}</p>

                    <form method="post" action="{% url 'remove_from_cart' item.id %}">
                        {% csrf_token %}
                        <div class="input-group card-text text-center">
                            <span class="input-group-btn mx-auto">
                                <button class="btn btn-danger" type="submit">Remove</button>
                            </span>
                        </div>
                    </form>

                </div>
            </div>

        </div>
            {% endfor %}

    </div>

    <div class="row">
        <p>Total</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
        <a href="/" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign"
                aria-hidden="true"></span>Checkout</a>
    </div>
</div>
{% endblock %}