{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Comic Jumble</title>
    <link rel="shortcut icon" href="{% static 'img/logo-black.png' %}" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #0b0b0d;">
        <a class="navbar-brand" href="{% url 'index' %}">Jumble</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars text-white" aria-hidden="true"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'comics' %}">Comics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'search' %}">Search</a>
                </li>
            </ul>
            <!-- When users add items to card this badge displays -->
            <ul class="navbar-nav ml-auto text-center">
                {% if comic_count > 0 %}
                <label class="badge badge-success mx-auto my-auto">{{ comic_count }}</label>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart"></i>
                        Cart</a>
                </li>
                <!-- Users see this nav item only when logged in / authenticated -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}"><i class="fa fa-sign-in fa-lg"
                            aria-hidden="true"></i>
                        Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- For messages to display if and when triggered by a user action -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-{{ message.tags }} text-center">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Template language - content from other pages goes here -->
    {% block content %} {% endblock %}
    <!-- Footer -->
    <div class="container-fluid" style="background-color: #0b0b0d;">
        <div id="footer-details">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="footer-links-box">
                        <!-- Additional pages -->
                        <h5 class="footer-title">Quicklinks</h5>
                        <a href="{% url 'about' %}"><span class="footer-title">About</span></a>
                        <a href="mailto:comicjumble@gmail.com"><span class="footer-title">Contact</span></a>
                        <a href="{% url 'faqs' %}"><span class="footer-title">FAQs</span></a>
                        <a href="{% url 'privacy' %}"><span class="footer-title">Privacy Policy</span></a>
                        <a href="{% url 'terms' %}"><span class="footer-title">Terms & Conditions</span></a>
                        <a href="{% url 'glossary' %}"><span class="footer-title">Glossary</span></a>
                    </div>
                    <br>
                <div class="col-lg-2 col-md-2 col-sm-12"></div>
            </div>
        </div>
        <!-- Logo at the end of the site -->
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <img class="img-fluid" alt="logo" src="/media/images/comic-logo-white.png">
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
        </div>
        <br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>